# Project exclude paths
# Виртуальные окружения
venv/
.venv/

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log
logs/

# Настройки IDE
.vscode/
.idea/

# Файлы окружения
.env
*.env

# Другие временные файлы
*.swp
*~
